<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="drone">

  <xacro:arg name="name" default="drone"/>
  <xacro:property name="prefix" value="$(arg name)"/>
  <xacro:property name="color" value="0.9 0.45 0.1 1.0"/>

  <link name="${prefix}">
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="${6.5e-4}" iyy="${6.5e-4}" izz="${1.2e-3}" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="-0.198844 -0.294427 0"/>
      <geometry>
        <mesh filename="package://uav_gazebo/urdf/drone.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="orange">
         <color rgba="${color}"/>
     </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.053"/>
      <geometry>
        <box size="0.08 0.14 0.11"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.17 0 0.09"/>
      <geometry>
        <cylinder length="0.02" radius="0.13"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.17 0 0.09"/>
      <geometry>
        <cylinder length="0.02" radius="0.13"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0.17 0.09"/>
      <geometry>
        <cylinder length="0.02" radius="0.13"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 -0.17 0.09"/>
      <geometry>
        <cylinder length="0.02" radius="0.13"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0 0.06"/>
      <geometry>
        <box size="0.38 0.05 0.04"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0 0.06"/>
      <geometry>
        <box size="0.05 0.38 0.04"/>
      </geometry>
    </collision>
  </link>

  <gazebo reference="${prefix}">
    <visual>
      <material>
        <ambient>${color}</ambient>
        <diffuse>${color}</diffuse>
        <specular>0.1 0.1 0.1 1</specular>
        <emissive>0 0 0 0</emissive>
      </material>
    </visual>
  </gazebo>

  <gazebo>
    <plugin name="${prefix}_plugin" filename="libuav_gazebo_plugin.so">
      <rosNamespace>${prefix}</rosNamespace>
		</plugin>
  </gazebo>

</robot>
